In [4]:
a = "This is a string."

In [5]:
b = 123

In [6]:
c = 14.4114

In [7]:
d = ['jupyter', 10, 4.3, "notebook"]

In [18]:
e = ("fish", "bird", "rabbit")

In [13]:
f = {"cat" : "Hector", "dog" : "Rascal"}

In [14]:
len(f)

2

In [19]:
sum(e)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
d[1]

10

In [21]:
d[0]

'jupyter'

In [22]:
e[2]

'rabbit'

In [23]:
f[1]

'Hector'

In [25]:
f[2]

'Rascal'

In [26]:
i = 7 + False + True

In [27]:
i

8

In [28]:
friends = ['Curly', 'Moe', 'Larry', 'Tweedle Dee', 'Tweedle Dum']

In [29]:
friends[2]

'Larry'

In [30]:
friends.append('Richard')

In [31]:
friends

['Curly', 'Moe', 'Larry', 'Tweedle Dee', 'Tweedle Dum', 'Richard']

In [32]:
enemies = ['Khaleesi', 'Tyrion', 'Frank Underwood']

In [33]:
friends

['Curly', 'Moe', 'Larry', 'Tweedle Dee', 'Tweedle Dum', 'Richard']

In [34]:
enemies

['Khaleesi', 'Tyrion', 'Frank Underwood']

In [35]:
everybody = friends + enemies

In [36]:
everybody

['Curly',
 'Moe',
 'Larry',
 'Tweedle Dee',
 'Tweedle Dum',
 'Richard',
 'Khaleesi',
 'Tyrion',
 'Frank Underwood']

In [37]:
everybody.remove('Richard')

In [38]:
everybody

['Curly',
 'Moe',
 'Larry',
 'Tweedle Dee',
 'Tweedle Dum',
 'Khaleesi',
 'Tyrion',
 'Frank Underwood']

In [39]:
del everybody[2]

In [40]:
everybody

['Curly',
 'Moe',
 'Tweedle Dee',
 'Tweedle Dum',
 'Khaleesi',
 'Tyrion',
 'Frank Underwood']

In [41]:
friends.extend(enemies)

In [42]:
friends

['Curly',
 'Moe',
 'Larry',
 'Tweedle Dee',
 'Tweedle Dum',
 'Richard',
 'Khaleesi',
 'Tyrion',
 'Frank Underwood']

In [43]:
friends.insert(5, 'Hillary Clinton')

In [44]:
friends

['Curly',
 'Moe',
 'Larry',
 'Tweedle Dee',
 'Tweedle Dum',
 'Hillary Clinton',
 'Richard',
 'Khaleesi',
 'Tyrion',
 'Frank Underwood']

In [45]:
friends.sort()

In [46]:
sorted(friends)

['Curly',
 'Frank Underwood',
 'Hillary Clinton',
 'Khaleesi',
 'Larry',
 'Moe',
 'Richard',
 'Tweedle Dee',
 'Tweedle Dum',
 'Tyrion']

In [47]:
enemies

['Khaleesi', 'Tyrion', 'Frank Underwood']

In [48]:
sorted(enemies)

['Frank Underwood', 'Khaleesi', 'Tyrion']

In [49]:
enemies

['Khaleesi', 'Tyrion', 'Frank Underwood']

In [50]:
friends.index('Richard')

6

In [51]:
friends[6]

'Richard'

In [52]:
richard = friends.pop(6)

In [53]:
richard

'Richard'

In [54]:
friends

['Curly',
 'Frank Underwood',
 'Hillary Clinton',
 'Khaleesi',
 'Larry',
 'Moe',
 'Tweedle Dee',
 'Tweedle Dum',
 'Tyrion']

In [55]:
friends.reverse()

In [56]:
friends

['Tyrion',
 'Tweedle Dum',
 'Tweedle Dee',
 'Moe',
 'Larry',
 'Khaleesi',
 'Hillary Clinton',
 'Frank Underwood',
 'Curly']

In [57]:
mix = [12, 12.2, 'flower', 'a', (1, 2, 3)]

In [58]:
mix.append('animal')

In [59]:
mix

[12, 12.2, 'flower', 'a', (1, 2, 3), 'animal']

In [60]:
mix.extend([1, 2])

In [61]:
mix

[12, 12.2, 'flower', 'a', (1, 2, 3), 'animal', 1, 2]

In [62]:
mix.insert(1, 'Nick')

In [63]:
mix

[12, 'Nick', 12.2, 'flower', 'a', (1, 2, 3), 'animal', 1, 2]

In [64]:
mix.remove('flower')

In [65]:
mix.sort()

In [66]:
mix

[1, 2, 12, 12.2, 'Nick', 'a', 'animal', (1, 2, 3)]

In [67]:
mix.count(12)

1

In [68]:
mix.index('Nick')

4

In [69]:
mix.sort()

In [70]:
mix

[1, 2, 12, 12.2, 'Nick', 'a', 'animal', (1, 2, 3)]

In [71]:
popped = mix.pop(7)

In [72]:
popped

(1, 2, 3)

In [73]:
mix

[1, 2, 12, 12.2, 'Nick', 'a', 'animal']

In [74]:
mix.reverse()

In [75]:
zipcodes = {'river_north': 60611, 'lakeview': 60613, 'ravenswood': 60625, 'logan_square': 60647}

In [76]:
ravenswood_zipcode = zipcodes['ravenswood']

In [77]:
zip_codes.get('pilsen')

NameError: name 'zip_codes' is not defined

In [79]:
zipcodes.keys()

['ravenswood', 'river_north', 'lakeview', 'logan_square']

In [81]:
zipcodes.values()

[60625, 60611, 60613, 60647]

In [82]:
zipcodes.items()

[('ravenswood', 60625),
 ('river_north', 60611),
 ('lakeview', 60613),
 ('logan_square', 60647)]

In [84]:
type(zipcodes.items())

list

In [85]:
zipcodes['pilsen'] = 60613

In [86]:
zipcodes

{'lakeview': 60613,
 'logan_square': 60647,
 'pilsen': 60613,
 'ravenswood': 60625,
 'river_north': 60611}

In [88]:
logan_square = zipcodes.pop('logan_square')

In [89]:
len(zipcodes)

4

In [90]:
del zipcodes['ravenswood']

In [91]:
len(zipcodes)

3

In [92]:
zipcodes.update({'south_loop': 60611})

In [93]:
zipcodes

{'lakeview': 60613, 'pilsen': 60613, 'river_north': 60611, 'south_loop': 60611}

In [94]:
zipcodes.clear()

In [95]:
zipcodes

{}

In [96]:
date = {'day' : 26, 'month' : 9, 'year' : 2016}

In [97]:
day = date.pop('day')

In [98]:
date

{'month': 9, 'year': 2016}

In [99]:
day

26

In [100]:
date.get('year')

2016

In [101]:
date.has_key('day')

False

In [102]:
date.keys()

['year', 'month']

In [103]:
date.items()

[('year', 2016), ('month', 9)]

In [105]:
date.update({'day' : 26})

In [106]:
date

{'day': 26, 'month': 9, 'year': 2016}

In [108]:
date.clear()

In [109]:
seconds = [1, 2, 3, 4, 5]

In [110]:
for second in seconds:
    print 'hey'

hey
hey
hey
hey
hey

In [111]:
for second in seconds:
    print second

1
2
3
4
5

In [112]:
friends

['Tyrion',
 'Tweedle Dum',
 'Tweedle Dee',
 'Moe',
 'Larry',
 'Khaleesi',
 'Hillary Clinton',
 'Frank Underwood',
 'Curly']

In [114]:
for name in friends:
    print name, len(name)

Tyrion 6
Tweedle Dum 11
Tweedle Dee 11
Moe 3
Larry 5
Khaleesi 8
Hillary Clinton 15
Frank Underwood 15
Curly 5

In [115]:
a = ['a', 'b', 'c', 'd', 'A', 'B', 'C', 'D']

In [116]:
a.sort()
a

['A', 'B', 'C', 'D', 'a', 'b', 'c', 'd']