# SQL Lab

In this lab we will learn how to use execute SQL from the ipython notebook and practice some queries on the [Northwind sample database](https://northwinddatabase.codeplex.com/) that we used in Lesson 3.1.

You can access the data with this command:

    psql -h dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com -p 5432 -U dsi_student northwind
    password: gastudents

First of all let's install the ipython-sql extension. You can find instructions [here](https://github.com/catherinedevlin/ipython-sql).

In [1]:
!pip install ipython-sql psycopg2

Requirement already satisfied (use --upgrade to upgrade): ipython-sql in /home/nick/anaconda2/lib/python2.7/site-packages
Requirement already satisfied (use --upgrade to upgrade): psycopg2 in /home/nick/anaconda2/lib/python2.7/site-packages
Requirement already satisfied (use --upgrade to upgrade): sqlparse in /home/nick/anaconda2/lib/python2.7/site-packages (from ipython-sql)
Requirement already satisfied (use --upgrade to upgrade): six in /home/nick/anaconda2/lib/python2.7/site-packages (from ipython-sql)
Requirement already satisfied (use --upgrade to upgrade): ipython-genutils>=0.1.0 in /home/nick/anaconda2/lib/python2.7/site-packages (from ipython-sql)
Requirement already satisfied (use --upgrade to upgrade): ipython>=1.0 in /home/nick/anaconda2/lib/python2.7/site-packages (from ipython-sql)
Requirement already satisfied (use --upgrade to upgrade): sqlalchemy>=0.6.7 in /home/nick/anaconda2/lib/python2.7/site-packages (from ipython-sql)
Requirement already satisfied (use --upgrade to upgrade): prettytable in /home/nick/anaconda2/lib/python2.7/site-packages (from ipython-sql)

Let's see if it works:

In [2]:
%load_ext sql

In [3]:
%%sql postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/northwind
        
select * from orders limit 5;

5 rows affected.

[(10248, u'VINET', 5, datetime.date(1996, 7, 4), datetime.date(1996, 8, 1), datetime.date(1996, 7, 16), 3, 32.38, u'Vins et alcools Chevalier', u"59 rue de l'Abbaye", u'Reims', None, u'51100', u'France'),
 (10249, u'TOMSP', 6, datetime.date(1996, 7, 5), datetime.date(1996, 8, 16), datetime.date(1996, 7, 10), 1, 11.61, u'Toms Spezialit\xe4ten', u'Luisenstr. 48', u'M\xfcnster', None, u'44087', u'Germany'),
 (10250, u'HANAR', 4, datetime.date(1996, 7, 8), datetime.date(1996, 8, 5), datetime.date(1996, 7, 12), 2, 65.83, u'Hanari Carnes', u'Rua do Pa\xe7o, 67', u'Rio de Janeiro', u'RJ', u'05454-876', u'Brazil'),
 (10251, u'VICTE', 3, datetime.date(1996, 7, 8), datetime.date(1996, 8, 5), datetime.date(1996, 7, 15), 1, 41.34, u'Victuailles en stock', u'2, rue du Commerce', u'Lyon', None, u'69004', u'France'),
 (10252, u'SUPRD', 4, datetime.date(1996, 7, 9), datetime.date(1996, 8, 6), datetime.date(1996, 7, 11), 2, 51.3, u'Supr\xeames d\xe9lices', u'Boulevard Tirou, 255', u'Charleroi', None, u'B-6000', u'Belgium')]

Nice!!! We can now go ahead with the lab!

In [4]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

## 1: Inspect the database

If we were connected via console, it would be easy to list all tables using `\dt`. We can however access table information performing a query on the `information_schema.tables` table.

### 1.a: List Tables

1. write a `SELECT` statement that lists all the tables in the public schema of the `northwind` database, sorted alphabetically

In [10]:
%%sql postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/northwind

SELECT table_catalog, table_schema, table_name FROM information_schema.tables WHERE table_schema = 'public' ORDER BY table_name ASC;

19 rows affected.

[(u'northwind', u'public', u'categories'),
 (u'northwind', u'public', u'categoriesmerged'),
 (u'northwind', u'public', u'customercustomerdemo'),
 (u'northwind', u'public', u'customerdemographics'),
 (u'northwind', u'public', u'customers'),
 (u'northwind', u'public', u'employees'),
 (u'northwind', u'public', u'employeeterritories'),
 (u'northwind', u'public', u'movies'),
 (u'northwind', u'public', u'order_details'),
 (u'northwind', u'public', u'orders'),
 (u'northwind', u'public', u'products'),
 (u'northwind', u'public', u'ratings'),
 (u'northwind', u'public', u'region'),
 (u'northwind', u'public', u'shippers'),
 (u'northwind', u'public', u'shippers_tmp'),
 (u'northwind', u'public', u'suppliers'),
 (u'northwind', u'public', u'table1'),
 (u'northwind', u'public', u'territories'),
 (u'northwind', u'public', u'usstates')]

### 1.b: Print Schemas

The table `INFORMATION_SCHEMA.COLUMNS` contains schema information on each.

Query it to display schemas of all the public tables. In particular we are interested in the column names and data types. Make sure you only include public schemas to avoid cluttering your results with a bunch of postgres related stuff.

In [14]:
%%sql postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/northwind
        
SELECT table_name, column_name, data_type FROM information_schema.columns WHERE table_schema = 'public';

128 rows affected.

[(u'categories', u'CategoryID', u'smallint'),
 (u'categories', u'CategoryName', u'character varying'),
 (u'categories', u'Description', u'text'),
 (u'categories', u'Picture', u'bytea'),
 (u'customercustomerdemo', u'CustomerID', u'character'),
 (u'customercustomerdemo', u'CustomerTypeID', u'character'),
 (u'customerdemographics', u'CustomerTypeID', u'character'),
 (u'customerdemographics', u'CustomerDesc', u'text'),
 (u'customers', u'CustomerID', u'character'),
 (u'customers', u'CompanyName', u'character varying'),
 (u'customers', u'ContactName', u'character varying'),
 (u'customers', u'ContactTitle', u'character varying'),
 (u'customers', u'Address', u'character varying'),
 (u'customers', u'City', u'character varying'),
 (u'customers', u'Region', u'character varying'),
 (u'customers', u'PostalCode', u'character varying'),
 (u'customers', u'Country', u'character varying'),
 (u'customers', u'Phone', u'character varying'),
 (u'customers', u'Fax', u'character varying'),
 (u'employees', u'EmployeeID', u'smallint'),
 (u'employees', u'LastName', u'character varying'),
 (u'employees', u'FirstName', u'character varying'),
 (u'employees', u'Title', u'character varying'),
 (u'employees', u'TitleOfCourtesy', u'character varying'),
 (u'employees', u'BirthDate', u'date'),
 (u'employees', u'HireDate', u'date'),
 (u'employees', u'Address', u'character varying'),
 (u'employees', u'City', u'character varying'),
 (u'employees', u'Region', u'character varying'),
 (u'employees', u'PostalCode', u'character varying'),
 (u'employees', u'Country', u'character varying'),
 (u'employees', u'HomePhone', u'character varying'),
 (u'employees', u'Extension', u'character varying'),
 (u'employees', u'Photo', u'bytea'),
 (u'employees', u'Notes', u'text'),
 (u'employees', u'ReportsTo', u'smallint'),
 (u'employees', u'PhotoPath', u'character varying'),
 (u'employeeterritories', u'EmployeeID', u'smallint'),
 (u'employeeterritories', u'TerritoryID', u'character varying'),
 (u'order_details', u'OrderID', u'smallint'),
 (u'order_details', u'ProductID', u'smallint'),
 (u'order_details', u'UnitPrice', u'real'),
 (u'order_details', u'Quantity', u'smallint'),
 (u'order_details', u'Discount', u'real'),
 (u'orders', u'OrderID', u'smallint'),
 (u'orders', u'CustomerID', u'character'),
 (u'orders', u'EmployeeID', u'smallint'),
 (u'orders', u'OrderDate', u'date'),
 (u'orders', u'RequiredDate', u'date'),
 (u'orders', u'ShippedDate', u'date'),
 (u'orders', u'ShipVia', u'smallint'),
 (u'orders', u'Freight', u'real'),
 (u'orders', u'ShipName', u'character varying'),
 (u'orders', u'ShipAddress', u'character varying'),
 (u'orders', u'ShipCity', u'character varying'),
 (u'orders', u'ShipRegion', u'character varying'),
 (u'orders', u'ShipPostalCode', u'character varying'),
 (u'orders', u'ShipCountry', u'character varying'),
 (u'products', u'ProductID', u'smallint'),
 (u'products', u'ProductName', u'character varying'),
 (u'products', u'SupplierID', u'smallint'),
 (u'products', u'CategoryID', u'smallint'),
 (u'products', u'QuantityPerUnit', u'character varying'),
 (u'products', u'UnitPrice', u'real'),
 (u'products', u'UnitsInStock', u'smallint'),
 (u'products', u'UnitsOnOrder', u'smallint'),
 (u'products', u'ReorderLevel', u'smallint'),
 (u'products', u'Discontinued', u'integer'),
 (u'region', u'RegionID', u'smallint'),
 (u'region', u'RegionDescription', u'character'),
 (u'shippers', u'ShipperID', u'smallint'),
 (u'shippers', u'CompanyName', u'character varying'),
 (u'shippers', u'Phone', u'character varying'),
 (u'shippers_tmp', u'ShipperID', u'smallint'),
 (u'shippers_tmp', u'CompanyName', u'character varying'),
 (u'shippers_tmp', u'Phone', u'character varying'),
 (u'suppliers', u'SupplierID', u'smallint'),
 (u'suppliers', u'CompanyName', u'character varying'),
 (u'suppliers', u'ContactName', u'character varying'),
 (u'suppliers', u'ContactTitle', u'character varying'),
 (u'suppliers', u'Address', u'character varying'),
 (u'suppliers', u'City', u'character varying'),
 (u'suppliers', u'Region', u'character varying'),
 (u'suppliers', u'PostalCode', u'character varying'),
 (u'suppliers', u'Country', u'character varying'),
 (u'suppliers', u'Phone', u'character varying'),
 (u'suppliers', u'Fax', u'character varying'),
 (u'suppliers', u'HomePage', u'text'),
 (u'territories', u'TerritoryID', u'character varying'),
 (u'territories', u'TerritoryDescription', u'character'),
 (u'territories', u'RegionID', u'smallint'),
 (u'usstates', u'StateID', u'smallint'),
 (u'usstates', u'StateName', u'character varying'),
 (u'usstates', u'StateAbbr', u'character varying'),
 (u'usstates', u'StateRegion', u'character varying'),
 (u'table1', u'num_votes', u'character varying'),
 (u'table1', u'rating', u'character varying'),
 (u'table1', u'tconst', u'character'),
 (u'table1', u'title', u'character'),
 (u'table1', u'year', u'character varying'),
 (u'table1', u'genre', u'character'),
 (u'table1', u'runtime', u'character varying'),
 (u'movies', u'index', u'bigint'),
 (u'movies', u'num_votes', u'bigint'),
 (u'movies', u'rating', u'double precision'),
 (u'movies', u'tconst', u'text'),
 (u'movies', u'title', u'text'),
 (u'movies', u'year', u'text'),
 (u'movies', u'genre', u'text'),
 (u'movies', u'runtime', u'double precision'),
 (u'ratings', u'index', u'bigint'),
 (u'ratings', u'0', u'text'),
 (u'ratings', u'ratings', u'text'),
 (u'ratings', u'movie', u'text'),
 (u'categoriesmerged', u'index', u'bigint'),
 (u'categoriesmerged', u'ProductID', u'bigint'),
 (u'categoriesmerged', u'ProductName', u'text'),
 (u'categoriesmerged', u'SupplierID', u'bigint'),
 (u'categoriesmerged', u'CategoryID', u'bigint'),
 (u'categoriesmerged', u'QuantityPerUnit', u'text'),
 (u'categoriesmerged', u'UnitPrice', u'double precision'),
 (u'categoriesmerged', u'UnitsInStock', u'bigint'),
 (u'categoriesmerged', u'UnitsOnOrder', u'bigint'),
 (u'categoriesmerged', u'ReorderLevel', u'bigint'),
 (u'categoriesmerged', u'Discontinued', u'bigint'),
 (u'categoriesmerged', u'CategoryName', u'text'),
 (u'categoriesmerged', u'Description', u'text'),
 (u'categoriesmerged', u'Picture', u'text')]

### 1.c: Table peek

Another way of quickly looking at table information is to query the first few rows. Do this for a couple of tables, for example: `orders`, `products`, `usstates`. Display only the first 3 rows.

As you can see, some tables (like `usstates` or `region`) contain information that is probably less prone to change than other tables (like `orders` or `order_details`). This database is well organized to avoid unnecessary duplication. Let's start digging deeper in the data.

## 2: Products

What products is this company selling? The `products` and `categories` tables contain information to answer this question.

Use a combination of SQL queries and Pandas merge to answer the following questions:

- What categories of products is the company selling?
- How many products per category does the catalog contain?
- Let's focus only on products that have not been discontinued => how many products per category?
- What are the most expensive 5 products (not discontinued)?
- How many units of each of these 5 products are there in stock?
- Draw a pie chart of the categories, with slices that have the size of the number of products in that category (use non discontinued products)

### 2.a: What categories of products is the company selling?

Remember that PostgreSQL is case sensitive.

In [24]:
%%sql postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/northwind
        
SELECT "CategoryID", "CategoryName" FROM categories;

8 rows affected.

[(1, u'Beverages'),
 (2, u'Condiments'),
 (3, u'Confections'),
 (4, u'Dairy Products'),
 (5, u'Grains/Cereals'),
 (6, u'Meat/Poultry'),
 (7, u'Produce'),
 (8, u'Seafood')]

In [22]:
%%sql postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/northwind
        
SELECT "CategoryID", COUNT("CategoryID") FROM products GROUP BY "CategoryID" ORDER BY "count" DESC LIMIT 10;

8 rows affected.

[(3, 13L), (8, 12L), (1, 12L), (2, 12L), (4, 10L), (5, 7L), (6, 6L), (7, 5L)]

### Here's a join

In [25]:
%%sql
        
SELECT p."CategoryID", c."CategoryName", COUNT(p."CategoryID")
FROM products AS p,
categories AS c
WHERE p."CategoryID" = c."CategoryID"
GROUP BY p."CategoryID", c."CategoryID"
ORDER BY COUNT(p."CategoryID") ASC
LIMIT 10;

8 rows affected.

[(7, u'Produce', 5L),
 (6, u'Meat/Poultry', 6L),
 (5, u'Grains/Cereals', 7L),
 (4, u'Dairy Products', 10L),
 (1, u'Beverages', 12L),
 (8, u'Seafood', 12L),
 (2, u'Condiments', 12L),
 (3, u'Confections', 13L)]

### 2.b: How many products per category does the catalog contain?

Keep in mind that you can cast a %sql result to a pandas dataframe using the `.DataFrame()` method.

In [26]:
result = _

In [27]:
result

[(7, u'Produce', 5L),
 (6, u'Meat/Poultry', 6L),
 (5, u'Grains/Cereals', 7L),
 (4, u'Dairy Products', 10L),
 (1, u'Beverages', 12L),
 (8, u'Seafood', 12L),
 (2, u'Condiments', 12L),
 (3, u'Confections', 13L)]

### 2.c: How many not discontinued products per category?

In [28]:
%%sql

SELECT * FROM products LIMIT 5;

5 rows affected.

[(1, u'Chai', 8, 1, u'10 boxes x 30 bags', 18.0, 39, 0, 10, 1),
 (2, u'Chang', 1, 1, u'24 - 12 oz bottles', 19.0, 17, 40, 25, 1),
 (3, u'Aniseed Syrup', 1, 2, u'12 - 550 ml bottles', 10.0, 13, 70, 25, 0),
 (4, u"Chef Anton's Cajun Seasoning", 2, 2, u'48 - 6 oz jars', 22.0, 53, 0, 0, 0),
 (5, u"Chef Anton's Gumbo Mix", 2, 2, u'36 boxes', 21.35, 0, 0, 0, 1)]

In [31]:
%%sql

SELECT "CategoryID", COUNT("CategoryID") 
FROM products 
WHERE "Discontinued" = 0 
GROUP BY "CategoryID"
ORDER BY "CategoryID";

8 rows affected.

[(1, 9L), (2, 11L), (3, 13L), (4, 10L), (5, 6L), (6, 2L), (7, 4L), (8, 12L)]

In [33]:
%%sql

SELECT "CategoryID", "Discontinued", COUNT("CategoryID") 
FROM products 
GROUP BY "CategoryID", "Discontinued"
ORDER BY "CategoryID" ASC, "Discontinued" ASC;

13 rows affected.

[(1, 0, 9L),
 (1, 1, 3L),
 (2, 0, 11L),
 (2, 1, 1L),
 (3, 0, 13L),
 (4, 0, 10L),
 (5, 0, 6L),
 (5, 1, 1L),
 (6, 0, 2L),
 (6, 1, 4L),
 (7, 0, 4L),
 (7, 1, 1L),
 (8, 0, 12L)]

### What are the names of discontinued products? (So we can always avoid them because old food is gross)

In [36]:
%%sql

SELECT "CategoryID", "ProductName"
FROM products
WHERE "Discontinued" = 1;

10 rows affected.

[(1, u'Chai'),
 (1, u'Chang'),
 (2, u"Chef Anton's Gumbo Mix"),
 (6, u'Mishi Kobe Niku'),
 (6, u'Alice Mutton'),
 (1, u'Guaran\xe1 Fant\xe1stica'),
 (7, u'R\xf6ssle Sauerkraut'),
 (6, u'Th\xfcringer Rostbratwurst'),
 (5, u'Singaporean Hokkien Fried Mee'),
 (6, u'Perth Pasties')]

### 2.d: What are the most expensive 5 products (not discontinued)?

In [42]:
%%sql

SELECT "CategoryID", "ProductName", "UnitPrice", "QuantityPerUnit"
FROM products
WHERE "Discontinued" = 0
ORDER BY "UnitPrice" DESC
LIMIT 5;

5 rows affected.

[(1, u'C\xf4te de Blaye', 263.5, u'12 - 75 cl bottles'),
 (3, u"Sir Rodney's Marmalade", 81.0, u'30 gift boxes'),
 (8, u'Carnarvon Tigers', 62.5, u'16 kg pkg.'),
 (4, u'Raclette Courdavault', 55.0, u'5 kg pkg.'),
 (7, u'Manjimup Dried Apples', 53.0, u'50 - 300 g pkgs.')]

### 2.e: How many units of each of these 5 products are there in stock?

In [44]:
%%sql

SELECT "CategoryID", "ProductName", "UnitPrice", "QuantityPerUnit", "UnitsInStock"
FROM products
WHERE "Discontinued" = 0
ORDER BY "UnitPrice" DESC
LIMIT 5;

5 rows affected.

[(1, u'C\xf4te de Blaye', 263.5, u'12 - 75 cl bottles', 17),
 (3, u"Sir Rodney's Marmalade", 81.0, u'30 gift boxes', 40),
 (8, u'Carnarvon Tigers', 62.5, u'16 kg pkg.', 42),
 (4, u'Raclette Courdavault', 55.0, u'5 kg pkg.', 79),
 (7, u'Manjimup Dried Apples', 53.0, u'50 - 300 g pkgs.', 20)]

### 2.f: Pie Chart

Use pandas to make a pie chart plot.

In [57]:
%%sql
        
SELECT c."CategoryName", AVG(p."UnitPrice")
FROM products AS p,
categories AS c
WHERE p."CategoryID" = c."CategoryID"
GROUP BY c."CategoryID"
ORDER BY AVG(p."UnitPrice") DESC;

8 rows affected.

[(u'Meat/Poultry', 54.0066666603088),
 (u'Beverages', 37.9791666666667),
 (u'Produce', 32.3699996948242),
 (u'Dairy Products', 28.7299999237061),
 (u'Confections', 25.1600000674908),
 (u'Condiments', 22.8541668256124),
 (u'Seafood', 20.6824998855591),
 (u'Grains/Cereals', 20.25)]

### Look at codealong for plots and the rest

In [58]:
result = _

In [73]:
df = result.DataFrame()
df

     CategoryName        avg
0    Meat/Poultry  54.006667
1       Beverages  37.979167
2         Produce  32.370000
3  Dairy Products  28.730000
4     Confections  25.160000
5      Condiments  22.854167
6         Seafood  20.682500
7  Grains/Cereals  20.250000

In [74]:
x = df['CategoryName'].values

## 3: Orders

Now that we have a better understanding of products, let's start digging into orders.

- How many orders in total?
- How many orders per year
- How many orders per quarter
- Which country is receiving the most orders
- Which country is receiving the least
- What's the average shipping time (ShippedDate - OrderDate)
- What customer is submitting the highest number of orders?
- What customer is generating the highest revenue (need to pd.merge with order_details)
- What fraction of the revenue is generated by the top 5 customers?

### 3.a: How many orders in total?

In [63]:
# Checks to see if OrderID is unique in this table
%%sql

SELECT COUNT("OrderID"), COUNT(DISTINCT "OrderID") FROM orders LIMIT 5;

1 rows affected.

[(830L, 830L)]

### 3.b: How many orders per year?

In [64]:
# Make sure "OrderDate" is datetime type
%%sql

SELECT EXTRACT(year FROM "OrderDate") FROM orders LIMIT 5;

5 rows affected.

[(1996.0,), (1996.0,), (1996.0,), (1996.0,), (1996.0,)]

In [65]:
%%sql

SELECT EXTRACT(year FROM "OrderDate") AS year,
COUNT(*)
FROM orders 
GROUP BY EXTRACT(year FROM "OrderDate")
ORDER BY EXTRACT(year FROM "OrderDate");

3 rows affected.

[(1996.0, 152L), (1997.0, 408L), (1998.0, 270L)]

### 3.c: How many orders per quarter?

Make a line plot for these.

### Specific version for datetime quarters

In [68]:
%%sql

SELECT 
CONCAT(EXTRACT(year FROM "OrderDate"), '-', EXTRACT(quarter FROM "OrderDate")),
COUNT(*)
FROM orders
GROUP BY CONCAT(EXTRACT(year FROM "OrderDate"), '-', EXTRACT(quarter FROM "OrderDate"))
ORDER BY CONCAT(EXTRACT(year FROM "OrderDate"), '-', EXTRACT(quarter FROM "OrderDate"));

8 rows affected.

[(u'1996-3', 70L),
 (u'1996-4', 82L),
 (u'1997-1', 92L),
 (u'1997-2', 93L),
 (u'1997-3', 103L),
 (u'1997-4', 120L),
 (u'1998-1', 182L),
 (u'1998-2', 88L)]

### Generalized version using CASE statement (Look at codealong)

In [72]:
%%sql

SELECT 
CONCAT(EXTRACT(year FROM "OrderDate"), '-',
CASE
    WHEN EXTRACT(month FROM "OrderDate") IN (1,2,3) THEN 1
    WHEN EXTRACT(month FROM "OrderDate") IN (4,5,6) THEN 2
    WHEN EXTRACT(month FROM "OrderDate") IN (7,8,9) THEN 3
    ELSE 4 END AS quarter)
EXTRACT(month FROM "OrderDate"),
"OrderDate"
FROM orders
LIMIT 10;

(psycopg2.ProgrammingError) syntax error at or near "AS"
LINE 7:     ELSE 4 END AS quarter)
                       ^
 [SQL: 'SELECT \nCONCAT(EXTRACT(year FROM "OrderDate"), \'-\',\nCASE\n    WHEN EXTRACT(month FROM "OrderDate") IN (1,2,3) THEN 1\n    WHEN EXTRACT(month FROM "OrderDate") IN (4,5,6) THEN 2\n    WHEN EXTRACT(month FROM "OrderDate") IN (7,8,9) THEN 3\n    ELSE 4 END AS quarter)\nEXTRACT(month FROM "OrderDate"),\n"OrderDate"\nFROM orders\nLIMIT 10;']

### 3.d: Which country is receiving the most orders?

In [78]:
%%sql

SELECT "ShipCountry",
COUNT(*)
FROM orders 
GROUP BY "ShipCountry"
ORDER BY COUNT(*) DESC;

21 rows affected.

[(u'Germany', 122L),
 (u'USA', 122L),
 (u'Brazil', 83L),
 (u'France', 77L),
 (u'UK', 56L),
 (u'Venezuela', 46L),
 (u'Austria', 40L),
 (u'Sweden', 37L),
 (u'Canada', 30L),
 (u'Mexico', 28L),
 (u'Italy', 28L),
 (u'Spain', 23L),
 (u'Finland', 22L),
 (u'Belgium', 19L),
 (u'Ireland', 19L),
 (u'Switzerland', 18L),
 (u'Denmark', 18L),
 (u'Argentina', 16L),
 (u'Portugal', 13L),
 (u'Poland', 7L),
 (u'Norway', 6L)]

### 3.e: Which country is receiving the least?

In [79]:
%%sql

SELECT "ShipCountry",
COUNT(*)
FROM orders 
GROUP BY "ShipCountry"
ORDER BY COUNT(*) ASC;

21 rows affected.

[(u'Norway', 6L),
 (u'Poland', 7L),
 (u'Portugal', 13L),
 (u'Argentina', 16L),
 (u'Switzerland', 18L),
 (u'Denmark', 18L),
 (u'Belgium', 19L),
 (u'Ireland', 19L),
 (u'Finland', 22L),
 (u'Spain', 23L),
 (u'Mexico', 28L),
 (u'Italy', 28L),
 (u'Canada', 30L),
 (u'Sweden', 37L),
 (u'Austria', 40L),
 (u'Venezuela', 46L),
 (u'UK', 56L),
 (u'France', 77L),
 (u'Brazil', 83L),
 (u'USA', 122L),
 (u'Germany', 122L)]

### 3.f: What's the average shipping time (ShippedDate - OrderDate)?

In [80]:
%%sql

SELECT ("ShippedDate" - "OrderDate") AS shipping_time,
"ShippedDate",
"OrderDate"
FROM orders
LIMIT 25;

25 rows affected.

[(12, datetime.date(1996, 7, 16), datetime.date(1996, 7, 4)),
 (5, datetime.date(1996, 7, 10), datetime.date(1996, 7, 5)),
 (4, datetime.date(1996, 7, 12), datetime.date(1996, 7, 8)),
 (7, datetime.date(1996, 7, 15), datetime.date(1996, 7, 8)),
 (2, datetime.date(1996, 7, 11), datetime.date(1996, 7, 9)),
 (6, datetime.date(1996, 7, 16), datetime.date(1996, 7, 10)),
 (12, datetime.date(1996, 7, 23), datetime.date(1996, 7, 11)),
 (3, datetime.date(1996, 7, 15), datetime.date(1996, 7, 12)),
 (2, datetime.date(1996, 7, 17), datetime.date(1996, 7, 15)),
 (6, datetime.date(1996, 7, 22), datetime.date(1996, 7, 16)),
 (6, datetime.date(1996, 7, 23), datetime.date(1996, 7, 17)),
 (7, datetime.date(1996, 7, 25), datetime.date(1996, 7, 18)),
 (10, datetime.date(1996, 7, 29), datetime.date(1996, 7, 19)),
 (11, datetime.date(1996, 7, 30), datetime.date(1996, 7, 19)),
 (3, datetime.date(1996, 7, 25), datetime.date(1996, 7, 22)),
 (8, datetime.date(1996, 7, 31), datetime.date(1996, 7, 23)),
 (30, datetime.date(1996, 8, 23), datetime.date(1996, 7, 24)),
 (18, datetime.date(1996, 8, 12), datetime.date(1996, 7, 25)),
 (5, datetime.date(1996, 7, 31), datetime.date(1996, 7, 26)),
 (8, datetime.date(1996, 8, 6), datetime.date(1996, 7, 29)),
 (3, datetime.date(1996, 8, 2), datetime.date(1996, 7, 30)),
 (9, datetime.date(1996, 8, 9), datetime.date(1996, 7, 31)),
 (1, datetime.date(1996, 8, 2), datetime.date(1996, 8, 1)),
 (29, datetime.date(1996, 8, 30), datetime.date(1996, 8, 1)),
 (4, datetime.date(1996, 8, 6), datetime.date(1996, 8, 2))]

In [86]:
%%sql

SELECT
SUM("ShippedDate" - "OrderDate") / COUNT(*)
FROM ORDERS;

1 rows affected.

[(8L,)]

In [84]:
%%sql

SELECT AVG("ShippedDate" - "OrderDate")
FROM ORDERS;

1 rows affected.

[(Decimal('8.4919653893695921'),)]

### Let's graph the average shipping time by quarter compared to the number of orders

Look at codealong

### 3.g: What customer is submitting the highest number of orders?

### 3.h: What customer is generating the highest revenue (need to pd.merge with order_details)?

### 3.i: What fraction of the revenue is generated by the top 5 customers?

Compare that with the fraction represented by 5 customers over the total number of customers.

Wow!! 5.5% of the customers generate a third of the revenue!!

## Bonus: Other tables

Investigate the content of other tables. In particular lookt at the `suppliers`, `shippers` and `employees` tables.